<footer class="site-footer">
  <div class="social-links">
    <a href="https://github.com/Hi-Yincan/blog">GitHub</a>
    <a href="{{ '/feed.xml' | url }}">RSS</a>
    <a href="https://hyc.ac/gallery/">Gallery</a>
  </div>
  <p class="copyright">© 2026 Yincan Huang</p>
</footer>
