<footer class="site-footer">
  <div class="social-links">
    <a href="https://github.com/Hi-Yincan">GitHub</a>
    <a href="/feed.xml">RSS</a>
  </div>
  <p class="copyright">© 2026 Yincan Huang</p>
</footer>
